.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Ama-zon

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href='/show'): i.fa.fa-barcode &nbsp; Profile
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger.fa.fa-sign-out= user.email || user.username || user.displayname
        else
          li: a(href='/register'): i.fa.fa-users &nbsp; Join Us
          li: a(href='/login'): i.fa.fa-child &nbsp; Login
          li: a(href='/auth/twitter'): i.fa.fa-twitter &nbsp; Twitter
          li: a(href='/auth/github'): i.fa.fa-github-alt &nbsp; Github
          li: a(href='/auth/google'): i.fa.fa-google-plus-square &nbsp; Google
          li: a(href='/auth/facebook'): i.fa.fa-facebook-square &nbsp; Facebook

